---
title: Home Page
layout: default
---
<div class="vid-overlay">
  <div class="close-vid">
    <i class="fa fa-times"></i>
  </div>
  <div class="enlarge-vid">
    <i class="fa fa-expand"></i>
  </div>
  <div id="vid-player">
    <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
  </div>
</div>
<div id="sticky-nav">
  <div class="inner-nav">
    <div class="display-year">
      <div class="year-text">

      </div>
      <div class="nav-year-toggle">
        <i class="fa fa-chevron-down"></i>
      </div>
      <ul class="nav-year-list">
        {% assign years-list = site.years | reverse %}
        {% for year in years-list %}
        <li class="nav-year" data-year="{{year.title}}">
          <a href="#y-{{ year.title }}">{{ year.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
<div id="search-overlay">
  <div class="close-search close-icon">
    <i class="fa fa-times"></i>
  </div>
  <form id="search-form">
    <div id="search-toggle">
      <i class="fa fa-search"></i>
    </div>
    <div class="search-input-box">
      <input type="text" id="search-input" placeholder="Type Artist name">
    </div>
  </form>
  <div class="see-all close-search">
    See All
  </div>
  <div id="results-container" class="hidden">
  </div>
</div>
<main id="home">
  <section id="banner">
    <div class="inner-section">
      <h1>XXL Freshmen Archive</h1>
      <p>
        {% assign most-current = site.years | sort: 'title' | reverse | filter: first %}
        Every freestyle and cypher archived from 2009 to {{ most-current[0].title }}
      </p>
    </div>
  </section>
  <section id="years">
    <div class="inner-section">
      {% assign years = site.years | sort: 'title' | reverse %}
      {% for year in years %}

      {% assign cyphers = year.artists | map: 'cypher' | uniq %}
      {% assign freestyles = year.artists | map: 'freestyle' | uniq %}

      <div class="year" id="y-{{ year.title }}" data-year="{{ year.title }}">

        <div class="year-title">
          {{ year.title }}
        </div>

        <div class="year-content">
          {% if cyphers.size > 1 %}
          <div class="vid-group">
            <h2>Cyphers</h2>
            <div class="cyphers vid-row">

              {% for cypher in cyphers  %}
              {% if cypher %}
              <div class="cypher-col vid-col" >
                <div class="cypher-vid vid-link" data-vid="{{ cypher }}" style="background-image:url()">
                  <img src="https://img.youtube.com/vi/{{ cypher }}/mqdefault.jpg" class="vid-thumb" alt="">
                  <div class="vid-play">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="cypher-artists">
                  {% for artist in year.artists %}
                  {% if artist.cypher and artist.cypher == cypher %}
                    <span class="cypher-artist">{{ artist.name }}</span>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if freestyles.size > 1 %}
          <div class="vid-group">
            <h2>Freestyles</h2>
            <div class="freestyles vid-row">
              {% for artist in year.artists %}
              {% if artist.freestyle %}
              <div class="vid-col">
                <div class="vid-link" data-vid="{{ artist.freestyle }}" style="background-image:url()">
                  <img src="https://img.youtube.com/vi/{{ artist.freestyle }}/mqdefault.jpg" class="vid-thumb" alt="">
                  <div class="vid-play">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="artist-name">
                  {{ artist.name }}
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endif %}

        </div>

      </div>
      {% endfor %}
    </div>
  </section>
</main>
<footer>
  <div class="footer-col left">
    <div class="social-share">
      <div class="share-btn facebook">
        <a href="#" alt="Facebook"><i class="fa fa-facebook-f"></i></a>
      </div>
      <div class="share-btn twitter">
        <a href="#" alt="Twitter"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-col right">
    <a href="https://edcupaioli.com">Made with <i class="fa fa-heart"></i> by Ed Cupaioli</a>
  </div>

</footer>
