
#search-form {
  position: relative;
  max-width: $size-medium;
  margin: auto;
  .search-input-box {
    display: none;
  }
}
.see-all {
  display: none;
}
#search-toggle {
  font-size: 1.5rem;

  position: absolute;
  height: 1.5em;
  width: 1.5em;
  @include box-shadow;
  border-radius: 50%;
  @include flexbox;
  justify-content: center;
  align-items: center;
  background-color: $white;
  @include transition(all);
}
#results-container {
  display: none;
}
#search-overlay {
  position: fixed;
  z-index: 1;
  padding: 1rem;
  right: 2rem;
  .close-icon {
    display: none;
  }
  &.active {
    padding: 2rem;
    width: 100%;
    height: 100%;
    z-index: 9;
    right: 0;
    left: 0;
    overflow-y: scroll;
    text-align: center;
    background-color: $white;
    .close-icon {
      display: inline-block;
      position: absolute;
      top: 1rem;
      left: 2rem;
      font-size: 1.5rem;
      color: $red;
    }
    #search-toggle {
      left: 0;
      background-color:$red;
      color: $white;
      @include box-shadow(none);
    }
    .search-input-box {
      display: block;
      overflow: hidden;
      text-align: left;
      width: 100%;
      height: 2.25rem;
      border-radius: 1em;
      @include box-shadow(0px 0px 5px rgba(100,100,100,0.5));
      #search-input {
        background-color: $white;
        padding: 0.5rem;
        width: 100%;
        padding-left: 2.5rem;
        font-size: 18px;

      }
    }
    .see-all {
      margin: 1rem auto;
      display: inline-block;
      background-color: $red;
      color: $white;
      padding: 0.5rem;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    #results-container {
      border: 1px solid $black;
      padding: 2rem;
      max-width: $size-large;
      margin: 2rem auto;
      flex-flow: row wrap;
      @include flexbox;
      justify-content: center;

      .search-result {
        padding: 1rem;
        text-align: center;
        .result-videos {
          .vid-link {
            display: inline-block;
            background-color: $red;
            color: $white;
            padding: 0.5rem;
            font-size: 18px;
            margin: 1rem 0;
            text-transform: uppercase;
            font-weight: bold;
            &:hover {
              cursor: pointer;
            }
            &.freestyle {
              margin-right: 1rem;
            }

          }
        }
        .artist-img {
          background-color: $white;
          line-height: 0;
          width: 250px;
          height: 140px;
          max-width: 100%;
          position: relative;
          overflow: hidden;

          img {
            position: relative;
            max-width: 100%;
          }
        }
      }
    }
  }
}
